body{
	height: 100vh;
	background-color: white; /* For browsers that do not support gradients */
	/*background-image: linear-gradient(to bottom right, red, yellow);*/
}


h1{
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
}
#guitar-tuner {
	width: 300px;
	height: 300px;
	text-align:center;
	-moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 150px;
}


div{
	text-align: center;
	width: 300px;
	height: 300px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}
 
 
canvas {
	display: inline;
	position: absolute;
	top:50%;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
	text-align: center;
 }

#displayArea {
	position: absolute;
	top:-50%;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
	text-align: center;
}



